
[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/candy"]
	path = themes/candy
	url = git@github.com:caramelomartins/candy.git
